@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root{
    --font_one:'Nunito', sans-serif;
}
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration:none;
    border:none;
    box-sizing: border-box;
    font:1rem var(--font_one);

}
main{
    background-color:white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#random_color{
    height: 30px;
    font-style:var(--font_one);
}

#main_color_full{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:" one two three";
    width: 100%;
    height:500px;
    margin-bottom: 10px;
}
.main_color{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
    "before button after"
    "rgba rgba rgba";
    position: relative;
    justify-content: center;
    align-items: end;
}
.main_color p{
    grid-area: rgba;
    align-self: end;
    justify-self: center;
    padding:0.5rem 1rem;
    margin-bottom: 1rem;
    width: 250px;
    text-align: center;
/*     border:4px solid white; */
}
#main_color_full:nth-child(1){
    grid-area: one;
}
#main_color_full > .two{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
#main_color_full > .three{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
button.fix_color{
    height: 30px;
    background-color: white;
    grid-area: button;
}
.before_button, .after_button{
    content:"";
    display: inline-block;
    height:30px;
}
.before_button{
    background:url(../img/keep_drop-left.svg) no-repeat;
    background-size: contain;
    background-position: top right;
    transform: translateX(0);
    grid-area: before;
}
.after_button{
    background-image:url(../img/keep_drop-right.svg);
    background-repeat:  no-repeat;
    background-position: bottom left;
    background-size: contain;
    transform: translateX(0);
    grid-area: after;
}

#main_color_overlay{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:1fr;
    row-gap: 10px;;
    width: 100%;
    height:150px;
}
#main_color_overlay > div{
    grid-row: 1 / 2;
}
#main_color_overlay > .one{
    grid-column: 1 / span 2;
}
#main_color_overlay > .two{
    grid-column: 2 / span 3;
}
#main_color_overlay > .three{
    grid-column: 4 / span 2;
}

#main_color_overlay > p {
    grid-row: 1 / 2;
    align-self: end;
    margin-bottom: 1rem;
    justify-self: center;
    padding:0.3rem 0.5rem;
    background-color: transparent;
    width: 160px;
    text-align: center;
    border:3px solid white;
}
/* p */
#main_color_overlay > p:nth-of-type(1){
    grid-column: 1 / 2;
}
#main_color_overlay > p:nth-of-type(2){
    grid-column: 2 / 3;
}
#main_color_overlay > p:nth-of-type(3){
    grid-column: 3 / 4;
}
#main_color_overlay > p:nth-of-type(4){
    grid-column: 4 / 5;
}
#main_color_overlay > p:nth-of-type(5){
    grid-column: 5 / 6;
}

/* #main_color_circles{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 220px;
    height:200px;
}
#main_color_circles > div{
    border-radius: 50%;
}
#main_color_circles > .color_one{
    grid-column: 2 / 5 ;
    grid-row: 1 / 3 ;
}
#main_color_circles > .color_two{
    grid-column: 1 / 4 ;
    grid-row: 2 / 4 ;
}
#main_color_circles > .color_three{
    grid-column: 3 / 6 ;
    grid-row: 2 / 4 ;
} */

#all_color_circle {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height:200px;
    background:white;
}
